<%= render 'menu_action', :object => @datafile %>

<section id="aboutUs">
		
<div class="inner_wrapper">

	
  <div class="container">
  	
    <div class="inner_section">
    	
		<div class="col-lg-6 col-sm-7">
			
	
					<div class="form">
						
		        		<%= form_for(@datafile) do |f|  %>   
		        		
		        			<%= f.hidden_field :fichier_id, :value => @fichier_id ||= 0 %>
		        		
							<%= f.label :attachment, "Selectionnez un fichier", :class => "label" %><br />
							<%= f.file_field :attachment, :required => true %>
							
							<%= f.label :description, "Description", :class => "label" %><br />
							<%= f.text_area :description, :class => "input-text",  :placeholder => "Description du fichier"%>
									
							<%= f.submit "Ajouter", :class => "input-btn" %>
							
						<% end %>
			          </div>
	       
	        
	    </div>


    
    </div>
  </div> 
  </div>
</section>

