<% user ||= current_user %>	
			
				<div class="user" id="<%= user.id.to_i %>" >
						<div class="col-lg-4 col-sm-7">
							<div class="member">
									<div class="user-avatar">									
											<%= image_tag("team_pic2.jpg", :width => "50px", :height => "50px",:alt => "Team Member", :class => "img-circle") %>
										</div><!-- /.author-avatar -->		
																									
										
										<div class="user-details">																			
											
											<div class="member-top">		
												
												<%= render 'shared/palette_admin', :object => user %>	
																	
												<h4 class="name">												
													<%= link_to user.contact.nom_complet, user.contact %>																										
												</h4>
												
												<% if @roster!= nil%>
												
													<% if user == current_user %>
														
														Info : <%= Clientxmpp.disco(current_user) %>
														Presence :<%=  Clientxmpp.presence %>
														JID: <%= Clientxmpp.jid(current_user) %>
														Last activity: <%= Clientxmpp.last_activity(current_user) %>
														
														<% if Clientxmpp.is_connected? %>
															<p class="online"> En ligne </p>
														<% else %>
															<p class="offline"> Hors ligne </p>
														<% end %>
	
													<% else %>												
														
														<% begin %>
															Info : <%= Clientxmpp.disco(user) %>
															Presence :<%=  @roster[Clientxmpp.jid(user)].presence %>														
															<p class="online"> En ligne </p>
															Last activity: <%= Clientxmpp.last_activity(user) %>
														<% rescue %>
															<p class="offline"> Hors ligne </p>
														<% end %>
														
														
														
										
													
													<% end %>
												
												<% end %>

												
												
												<% unless user.connexions.empty? %>
												
												<p> Dernière connexion : <%= user.connexions.first.created_at.to_formatted_s(:normal) %>	</p>
												
												<% end %>									
																																	
												<p><a href="<%= feed_user_path(user) %>"><%= pluralize(user.microposts.count, "Publication") %></a> | <a href="<%= following_user_path(user) %>"><%= pluralize(user.following.count, "Abonnement") %></a> | <a id="Abonne" href="<%= followers_user_path(user) %>"><%= pluralize(user.followers.count, "Abonné") %></a> </p> 
												<p><a href="<%= membre_de_user_path(user) %>"><%= pluralize(user.membre_de.count, "Projet") %></a> | <a href="<%= taches_attribuees_user_path(user) %>"><%= pluralize(user.charge_de.count, "Tâches") %></a> | <a href="<%= fichiers_utilisateur_user_path(user) %>"><%= pluralize(user.datafiles.count, "Fichier") %></a> </p> 											 
												
											</div><!-- /.member-top -->
											
											<% @user = user %>
											
											<%= render 'message_button_form'%>
											
											<%= render 'follow_form'%>
											
												
											
											
														
											
										</div><!-- /.member-details -->

							</div><!-- /.member -->
				</div>
		 </div>
