<% @user ||= current_user %>	
						<div class="col-lg-6 col-sm-7">
							<div class="member wow bounceInUp animated">
								<div class="member-container" data-wow-delay=".3s">
									<div class="inner-container">										
										<div class="author-avatar">									
											<%= image_tag("team_pic2.jpg", :alt => "Team Member", :class => "img-circle") %>
										</div><!-- /.author-avatar -->									
										
										<div class="member-details">
											<div class="member-top">									
												<h4 class="name">												
													<%= link_to "#{@user.contact.prenom} #{@user.contact.nom}" , @user %>
												</h4>
												
												<%= render 'shared/palette_admin', :object => @user %>
												
												<span class="designation">
													Etudiant à FST Settat
												</span>		
																						
												<%= render 'shared/stats' %>
												
											</div><!-- /.member-top -->
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.
											</p>
									
											<div class="member-social-link">
												<%= render 'follow_form'%>													
											</div><!-- /.member-social-link -->
																		
											
										</div><!-- /.member-details -->
										
									</div><!-- /.inner-container -->
								</div><!-- /.member-container -->
							</div><!-- /.member -->
						</div>