
<section id="aboutUs">
		
<div class="inner_wrapper">

	
  <div class="container">
  	
  	<%= render 'shared/messages', :object => @user %>
  	
    <div class="inner_section">
    	
		<div class="col-lg-6 col-sm-7">
			
			<h2>Informations du compte :</h2>
	
					<%= form_for(@user) do |f| %>
			
					    <%= f.label :login, "Login", :class => "label" %><br />
					    <%= f.text_field :login, :class => "input-text" %>
		
				
					    <%= f.label :password, "Nouveau mot de passe", :class => "label" %><br />
					    <%= f.password_field :password, :class => "input-text" %>

					    <%= f.label :password_confirmation, "Confirmation du nouveau mot de passe", :class => "label" %><br />
					    <%= f.password_field :password_confirmation, :class => "input-text" %>

					    <%= f.submit "Modifier", :class => "input-btn" %>

					<% end %>
	       
	        
	    </div>


    
    </div>
  </div> 
  </div>
</section>

