<section id="aboutUs">
		
<div class="inner_wrapper">

	
  <div class="container">


		<%= render 'shared/messages', :object => @user %>

   		 <div class="inner_section">  		 	    		
	     
				<div class="col-lg-10 col-sm-7">
					<h2><%= pluralize(@user.microposts.count, "Publication") %> de <%= @user.contact.nom_complet %></h2>
					
						<% unless @user.microposts.empty? %>
					        <table>
					         	<%= render @microposts %>				         	
					        </table>
				 			<%= will_paginate @microposts %>
				 		<% else%>
				 		
				 		Aucune publication
				 		
		 				<% end %>
				</div>	
				        
	
	        
	    </div>
	    <% if !signed_in? %>
	    	<%= render 'shared/login_form' %>
	    <% end %>
    
    </div>
  </div> 
  </div>
</section>
