   
    <div class="col-lg-6 col-sm-7">
    	
        <div class="top_left_cont zoomIn wow animated"> 
        	
        	<div class="form">
        		
        		<%= form_for(:session, :url => sessions_path) do |f| %>
        		
				    <%= f.label :login, "Login", :class => "label" %><br />
				    <%= f.text_field :login, :class => "input-text", :onFocus => "if(this.value==this.defaultValue)this.value='';", :onBlur =>"if(this.value=='')this.value=this.defaultValue;" %>

				    <%= f.label :password, "Mot de passe", :class => "label" %><br />
				    <%= f.password_field :password, :class => "input-text", :onFocus => "if(this.value==this.defaultValue)this.value='';", :onBlur =>"if(this.value=='')this.value=this.defaultValue;" %>

				    <%= f.submit "S'identifier", :class => "input-btn" %>
				    
				  	<%= render 'shared/messages', :object => f.object %>  
				    
				<% end %>
				
				
				
	          </div>
	          
	          
        	      	        
        </div>
        
    </div>