<% @user ||= current_user %>

 	 <a href="<%= feed_user_path(@user) %>"><%= pluralize(@user.microposts.count, "Publication") %></a>
 	 
 	 <a href="<%= following_user_path(@user) %>"><%= pluralize(@user.following.count, "Abonnement") %></a>
	
	 <a  id="Abonne" href="<%= followers_user_path(@user) %>"><%= pluralize(@user.followers.count, "Abonné") %></a>
