
<section id="aboutUs">
		
<div class="inner_wrapper">

	
  <div class="container">
  	
  	<%= render 'shared/messages', :object => @project %>
  	
    <div class="inner_section">
    	
		<div class="col-lg-6 col-sm-7">
			
			<h2>informations générales :</h2>
	
					<div class="form">
		        		<%= form_for(@project) do |f| %>       		
		        		
							<%= f.label :nom, "Nom", :class => "label" %><br />
							<%= f.text_field :nom, :class => "input-text", :onBlur =>"if(this.value=='')this.value=this.defaultValue;" %>
		
		
							<%= f.label :datedebut, "Date de début", :class => "label" %><br />
							<%= f.datetime_field :datedebut, :class => "input-text", :onBlur =>"if(this.value=='')this.value=this.defaultValue;" %>
							
							<%= f.submit "Modifier", :class => "input-btn" %>
							
						<% end %>
			          </div>
	       
	        
	    </div>

    
    </div>
  </div> 
  </div>
</section>


