
<section class="page_section team" id="team"><!--main-section team-start-->
  <div class="container">
  	
  	<%= render 'shared/messages', :object => @project %>
  	
    <h2><%= @titre %></h2>

		<div class="member-area">
					<div class="row">
						
						<%= link_to "Créer",  new_project_path %>
						
						<% unless @projects.empty? %>
						
							<%= will_paginate @projects %>
									
						
					        <% @projects.each do |project| %>
					        
					   	      <% @project = project %>

							  <%= render "project_info" %>
			          
					          
					        <% end %>
					        
					        <%= will_paginate @projects %>
					        
					      <% end %>
						
						
					</div><!-- /.row -->
		</div>
</div>
</section>

