	<div class="portfolio-item one-four isotope-item <%= @project.etat.delete(' ') %>">
        <div class="portfolio_img" style="opacity: 0;"> <img> </div>
        <div class="item_overlay">
          <div class="item_info"> 
          	
            <h4 class="project_name"><%= link_to @project.nom , @project %></h4>
      		  
      		<p>Etat : <%= @project.etat %></p>    
      		      		
      		<p>Date de début : <%= @project.datedebut %></p>
      		
      		<p>Phase : </p>
      		
         	<p>Créé par : <%= @project.user.contact.nom_complet %></p>
         	
         	<p><a href="<%=  members_project_path(@project) %>"><%= pluralize(@project.membres.count, "Membre") %></a>
         	
		 	| <a href="#">0 Tâches</a> | <a href="#">0 Fichiers</a></p>
         	
         	<%= render 'shared/palette_admin', :object => @project %>
         	
         	
          </div>
        </div>
      </div>
						