<% @user ||= current_user %>	
						<div class="col-lg-6 col-sm-7">
							<div class="member wow bounceInUp animated">
								<div class="member-container" data-wow-delay=".3s">
									<div class="inner-container">										
										<div class="author-avatar">									
											<%= image_tag("team_pic2.jpg", :alt => "Team Member", :class => "img-circle") %>
										</div><!-- /.author-avatar -->									
										
										<div class="member-details">
											<div class="member-top">		
																			
												<h4 class="name">												
													<%= link_to @user.contact.nom_complet, @user %>
												</h4>											

												<p><%= @user.contact.fonction %> à <%= @user.contact.organization.nom %></p>
												
												<p>Email : <%= link_to @user.contact.email, "#" %></p>	
																						
												<p><a href="<%= feed_user_path(@user) %>"><%= pluralize(@user.microposts.count, "Publication") %></a>
											 	 
											 	 | <a href="<%= following_user_path(@user) %>"><%= pluralize(@user.following.count, "Abonnement") %></a>
												
												 | <a id="Abonne" href="<%= followers_user_path(@user) %>"><%= pluralize(@user.followers.count, "Abonné") %></a></p>
												 
												 <p><a href="<%= membre_de_user_path(@user) %>"><%= pluralize(@user.membre_de.count, "Projet") %></a>
												 
												 | <a href="#">0 Tâches</a></p>
												 
												 <%= render 'shared/palette_admin', :object => @user %>
												
											</div><!-- /.member-top -->
									
											<div class="member-social-link">
												<%= render 'follow_form'%>
												<%= render 'message_button_form'%>													
											</div><!-- /.member-social-link -->
																		
											
										</div><!-- /.member-details -->
										
									</div><!-- /.inner-container -->
								</div><!-- /.member-container -->
							</div><!-- /.member -->
						</div>