<%= render 'menu_action', :object => @microposts.first || @micropost %>

<section id="aboutUs">
		
<div class="inner_wrapper">

	
  <div class="container">

		<%= render 'shared/messages', :object => @user %>

   		 <div class="inner_section">  		 	    		
	     
				<div class="col-lg-12 col-sm-7">
					<%= pluralize(@user.microposts.count, "Publication") %>
					
						<% unless @user.microposts.empty? %>
					        <table>
					         	<%= render @microposts %>				         	
					        </table>
				 			<%= will_paginate @microposts %>				 		
				 		
		 				<% end %>
				</div>	
				        
	
	        
	    </div>

    </div>
  </div> 
  </div>
</section>
