<nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
       
	    <div id="main-nav" class="collapse navbar-collapse navStyle">
	    	<!--<div class="logo"><a href="#"><img src="/images/logo.png" alt="logo"></a></div>-->
	    	
			<ul class="nav navbar-nav" id="mainNav">	
				<li><%= link_to "Acceuil", root_path, :class => "scroll-link" %></li>			  				 			 
			    <li><%= link_to "Projet", membre_de_user_path(current_user), :class => "scroll-link" %></li>		  
			</ul>
				
			<nav style="float: right;">
		  	
			  	<ul class="nav navbar-nav" id="mainNav">
			  			<li><% if current_user.admin? %> <%= link_to "Configuration", administration_path %> <% end %></li>		        	      						
						<li><%= link_to current_user.contact.nom_complet, settings_user_path(current_user) %></li>
					<span style="position: absolute; top:30px; right: 100px;"><%= link_to "Déconnexion", signout_path, :id =>" lien_deconnexion", :method => :delete, :confirm => "Voulez-vous vraiment vous deconnecter ?" %></span>	
				</ul>	
				
				<div class="author-avatar"><a href="<%= settings_user_path(current_user) %>"><%= image_tag("team_pic2.jpg", :width => "50px", :height => "50px", :alt => "Team Member", :class => "img-circle") %></a></div>
			  	  	
		  </nav>
      </div>
       
</nav>