
<div id="contentLeft">

        <ul id="leftNavigation">
			
			<% if current_user.admin? %>
            <li>
                <a href="#"><i class="fa leftNavIcon"></i> Administration</a>
                <ul>
                    <li>
                    	<%= link_to 'Utilisateurs', users_path %>
                    </li>
                    <li>
                    	<%= link_to 'Projets', projects_path %>
                    </li>
                </ul>
            </li>
            <% end %>
            <li>
                <a href="#"><i class="fa leftNavIcon"></i> Publication</a>
                <ul>
                    <li class="active">
                        <a href=" <%= feed_user_path(current_user) %> "><i class="fa fa-angle-right leftNavIcon"></i> Mes Publications</a>
                    </li>                  
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa leftNavIcon"></i> Messagerie</a>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Boite de reception</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa leftNavIcon"></i> Contacts</a>
                <ul>
                	<li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Mes contacts</a>
                    </li>
                    
                	<li>
                        <a href="<%= following_user_path(current_user) %>"><i class="fa fa-angle-right leftNavIcon"></i> Mes abonnements</a>
                    </li>
                    <li>
                        <a href="<%= followers_user_path(current_user) %>"><i class="fa fa-angle-right leftNavIcon"></i> Mes abonnés</a>
                    </li>                  
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa leftNavIcon"></i> Agenda</a>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-angle-right leftNavIcon"></i> Calendrier</a>
                    </li>                    
                </ul>
            </li>

        </ul>

    </div>
